# Ignore directories
dist/
build/
log/
venv/

# Ignore packaged binaries in any directory
*.exe
*.zip
*.pkg

# Ignore Config files
*.cfg

# Ignore Python bytecode
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Ignore data files 
*.csv